In [203]:
import pandas as pd

In [204]:
data = pd.read_csv('./rsi_300_rows_data.csv', sep=";").dropna()

In [205]:
data.head()

,block_number,rsi,price0,price1,price2,price3,price4,price5,price6,diff1,diff2,diff3,diff4,diff5,diff6
0,18088882,56.0,0.000608,0.000611,0.000612,0.000623,0.000630,0.000622,0.000629,0.50950,0.18918,1.70141,1.10269,-1.23832,1.17539
1,18070369,58.0,0.000613,0.000613,0.000611,0.000608,0.000611,0.000612,0.000623,0.13308,-0.38084,-0.51681,0.50950,0.18918,1.70141
2,18051856,47.0,0.000611,0.000611,0.000615,0.000613,0.000613,0.000611,0.000608,-0.07653,0.73640,-0.43475,0.13308,-0.38084,-0.51681
3,18033343,37.0,0.000586,0.000606,0.000614,0.000611,0.000611,0.000615,0.000613,3.37319,1.23286,-0.46349,-0.07653,0.73640,-0.43475
4,18014830,65.0,0.000607,0.000583,0.000582,0.000586,0.000606,0.000614,0.000611,-4.06634,-0.24945,0.67528,3.37319,1.23286,-0.46349

In [206]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 0 to 308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   block_number  308 non-null    int64
 1   rsi           308 non-null    float64
 2   price0        308 non-null    float64
 3   price1        308 non-null    float64
 4   price2        308 non-null    float64
 5   price3        308 non-null    float64
 6   price4        308 non-null    float64
 7   price5        308 non-null    float64
 8   price6        308 non-null    float64
 9   diff1         308 non-null    float64
 10  diff2         308 non-null    float64
 11  diff3         308 non-null    float64
 12  diff4         308 non-null    float64
 13  diff5         308 non-null    float64
 14  diff6         308 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 38.5 KB

In [207]:
def avg_diff(df):
    df["mean_diff"] = df.filter(like="diff").mean(axis=1)

In [208]:
def normalize_diffs(df):
    diff_mins = df.filter(like="diff").min()
    df[diff_mins.index] = df[diff_mins.index] + diff_mins.abs()

In [209]:
normalize_diffs(data)
avg_diff(data)

In [210]:
filtered_data = data.loc[(data['rsi'] <= 30) | (data['rsi'] >= 70)]

In [211]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 7 to 308
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   block_number  33 non-null     int64
 1   rsi           33 non-null     float64
 2   price0        33 non-null     float64
 3   price1        33 non-null     float64
 4   price2        33 non-null     float64
 5   price3        33 non-null     float64
 6   price4        33 non-null     float64
 7   price5        33 non-null     float64
 8   price6        33 non-null     float64
 9   diff1         33 non-null     float64
 10  diff2         33 non-null     float64
 11  diff3         33 non-null     float64
 12  diff4         33 non-null     float64
 13  diff5         33 non-null     float64
 14  diff6         33 non-null     float64
 15  mean_diff     33 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 4.4 KB

In [213]:
data.corr().filter(["rsi"]).filter(regex="^diff", axis=0).abs().median()

rsi    0.077665
dtype: float64

In [212]:
filtered_data.corr().filter(["rsi"]).filter(regex="^diff", axis=0).abs().median()

rsi    0.235339
dtype: float64

In [214]:
data.corr().filter(["rsi"]).filter(like="diff", axis=0)

                rsi
diff1      0.134101
diff2     -0.070211
diff3     -0.036358
diff4      0.191047
diff5     -0.085119
diff6      0.039988
mean_diff  0.078642

In [215]:
filtered_data.corr().filter(["rsi"]).filter(like="diff", axis=0)

                rsi
diff1      0.223677
diff2     -0.326972
diff3     -0.049968
diff4      0.385491
diff5     -0.154721
diff6      0.247002
mean_diff  0.158788